@charset "UTF-8";

@media screen and (orientation: portrait){
div{border: 1px solid black;
height: 160px;
 
width: 160px;
}
}

@media screen and (orientation: landscape){
div{
    border: 1px solid black;
height: 160px;
 
width: 160px;
    display: inline-block;}




}














