@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');



 



*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html, body{font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
overflow-x: hidden;
width: 100%;

}

.listra{background-color: #117050;
height: 10px;

 }
 




header{ 
    background-color: white;}
    
.container{
display: flex;
justify-content: flex-start;
align-items: center;
width: 100vw;
margin: auto;

}

.menu_esquerda img{width: 60px;
    padding: 15px;}

.menu_direita{display: flex;
    gap: 20px;
margin-left: 10px;

}

.material-symbols-outlined{color: rgb(96, 96, 96);
scale: 1.3;}

#pesquisa{width: 190px;
border: 1px solid;
height: 30px;
padding: 10px;
font-family: "consolas";

}
.menu{
cursor: pointer;
}


::-webkit-scrollbar{width: 0px;
}


main{
margin: auto;
width: 100vw;
height: 100vh;
background-image: url(../img/bg.jpg);

background-position: center right;
background-size: cover;
background-repeat: no-repeat;



}
main h1{ 
     
font-family: "Oswald";
font-size: 60px;
padding: 20px;

}

main p{padding: 20px;
font-size: 25px;
width: 600px;
}

.icones_main{border-radius: 50%;
border: 4px solid #117050;
overflow: hidden;
width: 170px;
height: 150px;
scale: 1.2;
display: block;
background-position: center;
background-size: cover;
margin-bottom: 10px;
margin-left: 20px;
}

.prim{background-image: url(../img/c1.jpg);}
.sec{background-image: url(../img/c2.jpg);}
.terc{background-image: url(../img/c3.jpg);}
.container_section
{
 display: flex;
flex-direction: column;

width: 100%;
height: 100%;

}




.elementos{
align-items: center;

gap: 20px;
    display: flex;
margin-top: 10px;
padding: 20px;
flex-direction: row;
height: 350px;
width: 100vw;

}

.texto2{width: 93.6%;
height: 100%;}

.texto2 h2{font-size: 20px;
    padding: 20px;
     
}

.texto h2, .texto3 h2{
 
 padding: 20px;
font-size: 40px;
font-weight: bolder;
width: 100vw;
margin: auto;

width: 70%;
}

.texto a, .texto3 a, .texto2 a{margin: auto;
display: block;
margin-top: 20px;
}


.texto, .texto2, .texto3, .texto4{

width: 100vw;
height: 100%;
}

.texto p,.texto2 p,  .texto3 p{

width: 100%;
margin: auto;
text-align: center;
}

.botao{text-align: center;

color: gray;
text-decoration: none;
border: 2px solid black;
width: 200px;
height: 45px;
margin: auto;
margin-top: 20px;
padding: 10px;
}

.botao a{color: gray;
text-decoration: none;
font-size: 20px;
}

.botao:hover{background-color: rgb(52, 52, 52);
color: white;
}

.texto3{
    background-image: url(../img/bg2.jpg);

background-position: left bottom;

}

.texto, .texto2, .texto3{ padding: 20px;
background-color: white;}
.img{width: 100%;
height: 100%;}




.grid{display: grid;

 
grid-template-areas: 
"texto1 img1"
"img2 img2"
"texto2 img3"
"img4 img4"
"texto3 texto3 "
"texto4 texto4"
"texto4 texto4"
;

    
max-width: 100%;
overflow: hidden;
 
align-items: center;
}


.img1
{
width: 100%;
grid-area: img1;
}

.texto1{grid-area: texto1;}

.texto2{grid-area: texto2;}

.texto3{grid-area: texto3;}

 .img2{grid-area: img2;}
 
.img3{grid-area: img3;}
 
 .img4{grid-area: img4;}

.img5{display: none;}



 .texto4{grid-area: texto4;

background-image: url(../img/bg3.jpg);

 background-size: contain;
 
 background-repeat: no-repeat;
 padding: 40px;

}


.texto4 h2{margin-bottom: 20px;
font-size: 40px;
font-weight: bolder;
 
}
.texto4 h2, .texto4 p{background-color: #117050ae;
border-radius: 10px;}



.texto4 p{margin-bottom: 40px;
   
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 250px;

}

.texto4 a{
    display: block;
   background-color: #117050;
    width: 300px;
    color: black;
}

.img6{display: none;

}
body{background-color: #E8E9EE;}

footer{border: 1px solid black;
color: white;
height: 100px;
background-color: rgb(51, 51, 51);
font-family: "consolas";
font-size: 15px;
}
footer p{
 text-align: center;
 padding: 10px;
}

footer a{text-decoration: underline;
color: #A4F8D2;}
footer a:hover{text-decoration: none;
color: white;
}







































































